.container{
  max-width: 80%;
  margin: auto;
  min-height: 100vh;
}
.chart-center{
  display: flex;
  justify-content: center;
  align-content: center;
  vertical-align: middle;
  align-items: center;
  min-height: 50vh;
  padding-top: 50px;
}
.themeColor{
  min-height: 100vh;
}
.changeTheme{
  display: flex;
  justify-content: center;
  align-content: center;
  vertical-align: middle;
  align-items: center;
  margin: auto;
  margin-top: 35px;
}
.changeThemeBtn{
  background: white;
  outline: black;
  color: #333333;
  font-size: 25px;
  box-shadow: none;
  outline: none;
  padding: 10px 25px;
  border-radius: 50px;
  cursor: pointer;
}
.mt50{
  padding: 50px;
}
#tooltip {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -mox-box-shadow: 4px 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rbga(0, 0, 0, 0.4);
  pointer-events: none;
}
#tooltip.hidden {
  opacity: 0;
}
#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}